---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-slate-100 dark:bg-slate-900 text-slate-900 dark:text-slate-100">
		<Header />
    <main>
		<div class="p-5 my-5 container mx-auto">
			<h1 text="4xl center"> 🛸 Hello, Human!</h1>
			<p class="text-xl">
        I'm Luki Zainur(he/him), an Full-Stack from East Java. I'm really into programming and design because I want to create something useful for people. Welcome, hope you enjoy your stay!
			</p>
      <div class="flex justify-center items-center p-3">
          <a href="https://github.com/lzif" class="rounded-full p-2 bg-white text-4xl"><div class="i-logos-github-icon"/></a>
      </div>
		</div>
    </main>
		<Footer />
	</body>
</html>
